h1 {
    font-size: 5rem;
    color: rgb(199, 51, 51);
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-shadow: 0.15rem 0.15rem #ff0000;
    }


    
body {
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

html,body{
    height: 100%;
    font-size: 15px;
}


divw {
    color: rgba(46, 33, 33, 0.8);
    background-color: rgba(250, 239, 250, 0.938);
    border: 1.4rem solid rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    padding: 2rem;
    width: 60%;
    max-width: 700px;
    font-size: 1.2rem;
    font-family: 'Itim', cursive;

}

.quote {
    border-left: 0.25rem solid rgba(128, 128, 128, 0.459);
    padding: 0.66rem;
}

.date {
    color:rgba(52, 186, 204, 0.8);
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    text-decoration-line: underline;


}

.sub_ti{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem #8400ff;
}    

.footer{ 
    text-shadow: 0.1rem 0.1rem #8400ff;
}